.container
  .header.navbar
    %h1
      CREATE CONNECTION
  .col-xs-4.col-xs-offset-4
    = form_for @connection, method: :post do |f|
      = f.label :airport_a_id, "Source Airport"
      = f.select(:airport_a_id) do
        - @airports.each do |airport|
          = content_tag(:option, airport.to_s, value: airport.id)
      = f.label :airport_b_id, "Destination Airport"
      = f.select(:airport_b_id) do
        - @airports.each do |airport|
          = content_tag(:option, airport.to_s, value: airport.id)
      %br
      = f.submit "Submit", class: "btn btn-info submit"

  #map.flex-height
